<ul>
    <li>
        <p>Won "Best Level 6 Group Project" at GameOver 25</p>
    </li>
    <li>
        <p>Described as "very competent and able to take on sturdy tasks" by a co-worker</p>
    </li>
    <li>
        <p>Created a game engine for the PlayStation 5 from scratch</p>
    </li>
    <li>
        <p>An assignment investigating multithreading was described as "One of the best submissions this year and one of the best for a few years"</p>
    </li>
    <li>
        <p>Runner up in a 1-week game jam hosted with college peers</p>
    </li>
</ul>