<style>
  .inline-center {
    display: flex;
    margin: auto;
  }
</style>

<article class="card" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="card-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <h4 class="post-meta">{{ page.summary }}</h4>
    <div class="project-info" style="display: flex;">
      <p class="post-summary">
        Year of creation:  
        <time datetime="{{ page.date }}" itemprop="datePublished"
          >{{ page.date | date: "%Y" }}</time
        >
      </p>
      <p class="post-summary" style="padding-left: 2ch;">
        Role:  {{page.role}}
      </p>
    </div>
    {% if page.team %}
    <p class="post-summary">
      Team Members:  
    {% for member in page.team %}
      {{ member }}{% unless forloop.last %}, {% endunless %}
    {% endfor %}
    </p>
    {% endif %} 
    <div class="post-categories">
      {% if post %} {% assign categories = post.technologies %} {% else %} {%
      assign technologies = page.technologies %} {% endif %} Technologies:  {% for
      category in technologies %}
      <a>{{category}}</a>
      {% unless forloop.last %}&nbsp;{% endunless %} {% endfor %}
    </div>
  </div>

  <div class="card-body" itemprop="articleBody">
    <img
      class="card-img-top"
      src="{{site.url}}{{site.baseurl}}{{ page.thumbnail }}"
      alt="{{ post.title }}"
    />
    <br />
    <br />
    {{ content }}
    <br />
</article>
