---
layout: default
---
<style>
.jumbotron-btns {
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  align-content: center;
  display: block;
  margin-top: 50px;
} 
</style>

<div class="col-lg-12">
<div class="row">
  <div class="col-lg-4">
    <div class="card" id="profile-card">
      <a href="/">
        <img src="{{site.url}}{{site.baseurl}}/assets/img/{{ site.author_logo }}" class="profile-img" />
      </a>
      <h1 class="profile-name">{{ site.title }}</h1>
      <p class="profile-bio">{{ site.subtitle }}</p>
      {% if site.github_username %} {%- include github_follow_button.html -%} {%
      endif %}

      <p class="profile-links">
        {% if site.twitter_username %}
        <a
          class="social-link"
          href="http://twitter.com/{{ site.twitter_username }}"
        >
          <i class="fab fa-twitter"></i>
        </a>
        {% endif %} {% if site.facebook_username %}
        <a
          class="social-link"
          href="http://facebook.com/{{ site.facebook_username }}"
        >
          <i class="fab fa-facebook-f"></i>
        </a>
        {% endif %} {% if site.instagram_username %}
        <a
          class="social-link"
          href="http://instagram.com/{{ site.instagram_username }}"
        >
          <i class="fab fa-instagram"></i>
        </a>
        {% endif %} {% if site.medium_username %}
        <a
          class="social-link"
          href="http://medium.com/@{{ site.medium_username }}"
        >
          <i class="fab fa-medium-m"></i>
        </a>
        {% endif %} {% if site.github_username %}
        <a
          class="social-link"
          href="http://github.com/{{ site.github_username }}"
        >
          <i class="fab fa-github"></i>
        </a>
        {% endif %} {% if site.behance_username %}
        <a
          class="social-link"
          href="http://behance.net/{{ site.behance_username }}"
        >
          <i class="fab fa-behance"></i>
        </a>
        {% endif %} {% if site.linkedin_username %}
        <a
          class="social-link"
          href="http://linkedin.com/in/{{ site.linkedin_username }}"
        >
          <i class="fab fa-linkedin-in"></i>
        </a>
        {% endif %} {% if site.telegram_username %}
        <a class="social-link" href="http://t.me/{{ site.telegram_username }}">
          <i class="fab fa-telegram-plane"></i>
        </a>
        {% endif %} {% if site.dribbble_username %}
        <a
          class="social-link"
          href="https://dribbble.com/{{ site.dribbble_username }}"
        >
          <i class="fab fa-dribbble"></i>
        </a>
        {% endif %} {% if site.flickr_username %}
        <a
          class="social-link"
          href="https://www.flickr.com/photos/{{ site.flickr_username }}"
        >
          <i class="fab fa-flickr"></i>
        </a>
        {% endif %}
      </p>

      {% if site.author_location %}
      <h6><a href="https://www.google.com/maps/search/?api=1&query={{ site.author_location }}" class="social-link"><i class="fas fa-map-marker-alt"></i>  {{ site.author_location }}</a></h6>
      {% endif %} {% if site.author_email %}
      <h6><a href="mailto:{{ site.author_email }}"><i class="fas fa-envelope" class="social-link"></i> {{ site.author_email }}</a></h6>
      {% endif %} {% if site.author_website_url %}
      <h6><a href="{{ site.author_website_url }}"><i class="fas fa-link" class="social-link"></i> {{ site.author_website_url }}</a></h6>
      {% endif %}
    </div>

    <div class="card">
      <h1>Skills</h1>

      {%- include author_skills.html -%}
    </div>

    <div class="card">
      <h1>Achievements</h1>

      {%- include achievements.html -%}
    </div>

    {% if site.wakatime_username %}
    <div class="card">
      <h1>Coding Activity</h1>

      {%- include coding_activity.html -%}
    </div>
    {% endif %}
  </div>
  <div class="col-lg-8">
    <div class="card">
      <h1 class="card-title">About</h1>
      <p>Hi! I'm Ryan. I'm a recent graduate from Sheffield Hallam University with a passion for all things development. I enjoy dabbling in many disciplines, 
        however have an affinity for engine development and tools development.
        <br/><br/> Throughout my years of development I've gained familiarity with numerous tools and disciplines, 
        from designing and making small games to even building a custom game engine that runs on a PlayStation 5.
        I also have experience with Graphics Programming as well as creating apps with WPF, and some more limited experience working in other sectors such as DevOps,
        having built custom GitHub workflows as well as maintaining TeamCity scripts. 
        I'm a quick learner too, so if there's something I'm unfamiliar with I can pick it up on the fly.
        <br/><br/> My primary tool of choice is Unreal Engine, and where a lot of my experience lies, however I have experience in using Unity, as well as building and maintaining 
        custom frameworks inside and outside the realm of game development.

      </p>
    </div>
    {% if site.show_author_project_details == true %}
    <div id="author_projects" class="card">
      <h1 class="card-title">Featured Projects</h1>
      <br />
      {% for project in site.posts %} {% if project.visibility
      == true and project.featured == true %} 
      <div class="row" id="project-card" style="padding: 5px;">
        <div class="col-md-6"> 
          <img
            src="{{site.url}}{{site.baseurl}}/{{project.thumbnail}}"
            class="project-img"
          />
        </div>
        <div class="col-md-4 center">
          <h4 class="experience-title"><a href="{{ project.permalink }}">{{ project.title }}</a></h4>
          <h6 class="experience-info">{{ project.info }}</h6>
          <p class="experience-desc">{{ project.summary }}</p>
          <p>
            {% if project.project_url %}
            <a class="project-link" href="{{project.project_url}}"
              >{{ project.project_url}}</a
            >
            {% endif %}
          </p>
        </div>
      </div>
      <br />
      {% endif %} {% endfor %}
      <div class="jumbotron-btns">
        <a href="{{site.url}}{{site.baseurl}}/projects">
          <button class="btn btn-md btn-warning"> <strong>View More</strong> </button>
        </a>
      </div>
    </div>
    {% endif %} {% if site.show_author_work_experiences == true %}
    <div class="card">
      <h1 class="card-title">Work Experience</h1>
      <br />
      {% for exp in site.author_work_experiences %} {% if exp.visibility == true
      %}
      <div class="row">
        <div class="col-md-2">
          <img
            src="{{site.url}}{{site.baseurl}}/assets/img/{{ exp.company_logo }}"
            class="company-logo"
          />
        </div>
        <div class="col-md-6">
          <h4 class="experience-title">{{ exp.designation }}</h4>
          <h6 class="experience-info">{{ exp.company_name}}</h6>
          <p class="experience-desc">{{ exp.description }}</p>
          <p><a href="{{exp.company_url}}">{{ exp.company_url}}</a></p>
        </div>
      </div>
      {% endif %} {% endfor %}
    </div>
    {% endif %} {% if site.show_author_education_details == true %}
    <div class="card">
      <h1 class="card-title">Education</h1>
      <br />
      {% for detail in site.author_education_details %} {% if detail.visibility
      == true %}
      <div class="row">
        <div class="col-md-2">
          <img
            src="{{site.url}}{{site.baseurl}}/assets/img/{{ detail.college_logo}}"
            class="company-logo"
          />
        </div>
        <div class="col-md-6">
          <h4 class="experience-title">{{detail.college_degree }}</h4>
          <h6 class="experience-info">{{detail.college_name}}</h6>
          <p class="experience-desc">{{detail.description}}</p>
          <p><a href="{{detail.college_url}}">{{ detail.college_url}}</a></p>
        </div>
      </div>
      {% endif %} {% endfor %}
    </div>
    {% endif %}
  </div>
</div>
</div>
